<form #myVariable="ngForm" class="form-horizontal" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Create Employee</h3>
    </div>
    <div class="panel-body">
      <!--fullName input element-->
      <div class="form-group" [ngClass]="{ 'has-error': formErrors.fullName }">
        <label class="col-sm-2 control-label" for="fullName">Full Name</label>
        <div class="col-sm-8">
          <input id="fullName" formControlName="fullName" (blur)="logValidationErrors()" type="text"
            class="form-control" />
          {{ fullNameLength }}
          <span *ngIf="fullNameLength !== undefined">
            --> this value is tracked by valuesChanges Observable
          </span>
          <!-- we add blur event because valueChanges not tracked focus loose -->
          <span class="help-block" *ngIf="formErrors.fullName">
            <!-- help-block pour la couleur rouge, ngIf pour pas d'anomalie en cas de refresh de la page-->
            {{ formErrors.fullName }}
          </span>
        </div>
      </div>

      <!--bloc Contact Preference-->
      <div class="form-group">
        <label class="col-md-2 control-label">Contact Preference</label>
        <div class="col-md-8">
          <label class="radio-inline">
            <input type="radio" value="email" formControlName="contactPreference" />Email
          </label>
          <label class="radio-inline">
            <input type="radio" value="phone" formControlName="contactPreference" />Phone
          </label>
        </div>
      </div>

      <div formGroupName="emailGroup">
        <!--email input element-->
        <div class="form-group" [ngClass]="{ 'has-error': formErrors.email }">
          <label class="col-sm-2 control-label" for="email">Email</label>
          <div class="col-sm-8">
            <input id="email" formControlName="email" (blur)="logValidationErrors()" type="text" class="form-control"
              placeholder="validation domain is customised using custom Validator" />
            <span class="help-block" *ngIf="formErrors.email">
              <!-- help-block pour la couleur rouge, ngIf pour pas d'anomalie en cas de refresh de la page-->
              {{ formErrors.email }}
            </span>
          </div>
        </div>

        <!--email validation input element-->
        <div class="form-group" [ngClass]="{ 'has-error': formErrors.emailConfirmation|| formErrors.emailGroup  }">
          <label class="col-sm-2 control-label" for="email">Email confirmation</label>
          <div class="col-sm-8">
            <input id="emailConfirmation" formControlName="emailConfirmation" (blur)="logValidationErrors()" type="text"
              class="form-control" placeholder="confirm your email" />
            <span class="help-block" *ngIf="formErrors.emailConfirmation || formErrors.emailGroup">
              <!-- help-block pour la couleur rouge, ngIf pour pas d'anomalie en cas de refresh de la page-->
              {{ formErrors.emailConfirmation ? formErrors.emailConfirmation : formErrors.emailGroup }}
            </span>
          </div>
        </div>
      </div>

      <!--phone input element-->
      <div class="form-group" [ngClass]="{ 'has-error': formErrors.phone }">
        <label class="col-sm-2 control-label" for="email">Phone</label>
        <div class="col-sm-8">
          <input id="phone" formControlName="phone" (blur)="logValidationErrors()" type="text" class="form-control"
            placeholder="add and remove dynamically validator if phone contactPreference choosen" />
          <span class="help-block" *ngIf="formErrors.phone">
            <!-- help-block pour la couleur rouge, ngIf pour pas d'anomalie en cas de refresh de la page-->
            {{ formErrors.phone }}
          </span>
        </div>
      </div>

      <!--debut nested form skills-->
      <div class="well">
        <div class="form-group">
          <div class="col-md-offset-2 col-md-4">
            <button type="button" class="btn btn-primary" (click)="AddSkillButtonClick()">Add Skill</button>
          </div>
        </div>
        <div formArrayName="skills" *ngFor="let skill of employeeForm.get('skills').controls; let i=index">
          <div [formGroupName]="i">
            <div class="form-group" [ngClass]="{ 'has-error':  skill.controls.skillName.invalid && skill.controls.skillName.touched }">
              <label [attr.for]="'skillName'+i" class="col-sm-2 control-label">skill {{i+1}}</label>
              <div class="col-sm-4">
                <input [id]="'skillName'+i" formControlName="skillName" type="text" />
                <span class="help-block" *ngIf= "skill.get('skillName').errors?.required && skill.controls.skillName.touched">
                  <!-- help-block pour la couleur rouge, ngIf pour pas d'anomalie en cas de refresh de la page-->
                  nom obligatoire
                </span>
              </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': skill.controls.experienceInYears.invalid && skill.controls.experienceInYears.touched  }">
              <label [attr.for]="'experienceInYears'+i" class="col-sm-2 control-label">Experience {{i+1}}</label>
              <div class="col-sm-4">
                <input [id] = "'experienceInYears'+i" type="text" formControlName="experienceInYears" placeholder="experience in years"/>
                <span class="help-block" *ngIf="skill.controls.experienceInYears.errors?.required && skill.controls.experienceInYears.touched">
                  <!-- help-block pour la couleur rouge, ngIf pour pas d'anomalie en cas de refresh de la page-->
                  qte experience required
                </span>
              </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': skill.controls.proficiency.invalid && skill.controls.proficiency.touched }">
              <label class="col-md-2 control-label">Proficiency</label>
              <div class="col-md-8">
                <label class="radio-inline">
                  <input type="radio" value="beginner" formControlName="proficiency"/>Beginner
                </label>
                <label class="radio-inline">
                  <input type="radio" value="intermediate" formControlName="proficiency"/>Intermediate
                </label>
                <label class="radio-inline">
                  <input type="radio" value="advanced" formControlName="proficiency"/>Advanced
                </label>
                <span class="help-block" *ngIf="skill.controls.proficiency.errors?.required && skill.controls.proficiency.touched">
                  <!-- help-block pour la couleur rouge, ngIf pour pas d'anomalie en cas de refresh de la page-->
                  niveau required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--fin nested form skills-->
    </div>
    <div class="panel-footer">
      <div class="btn-toolbar">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-primary" type="button" (click)="loadData()">
          Test-formarray
        </button>
        <button class="btn btn-primary" type="button" (click)="ChargerDataWithPatchValueAndSetValue()">
          ChargerDataWithPatchValueAndSetValue()
        </button>
        <button *ngIf="updateExperience" class="btn btn-primary" type="button"
          (click)="UpdateExperienceWithPatchValue()">
          UpdateExperienceWithPatchValue()
        </button>
        <button class="btn btn-primary" type="button" (click)="loopAndLogThrougFormGroup(employeeForm)">
          loopAndLogThrougFormGroup
        </button>
        <button class="btn btn-primary" type="button" (click)="logFormErrors(employeeForm)">
          Log form errors
        </button>
      </div>
    </div>
  </div>
</form>
Avec #myVariable="ngForm" : {{ myVariable.value | json }} <br /><br />
Avec [formGroup]="employeeForm":{{ employeeForm.value | json }}<br /><br />

<table border="1">
  <tr>
    <th style="padding: 10px">FormGroup</th>
    <th style="padding: 10px">FormControl (fullName)</th>
    <th style="padding: 10px">FormControl (email)</th>
  </tr>
  <tr>
    <td style="padding: 10px">
      touched : {{ employeeForm.touched }} <br />
      dirty : {{ employeeForm.dirty }} <br />
      valid : {{ employeeForm.valid }} <br />
      Form Values : {{ employeeForm.value | json }}
    </td>
    <td style="padding: 10px">
      touched : {{ employeeForm.get("fullName").touched }} <br />
      dirty : {{ employeeForm.get("fullName").dirty }} <br />
      valid : {{ employeeForm.get("fullName").valid }} <br />
      FullName Value : {{ employeeForm.get("fullName").value }}
    </td>
    <td style="padding: 10px">
      touched : {{ employeeForm.get("emailGroup").get("email").touched }} <br />
      dirty : {{ employeeForm.get("emailGroup").get("email").dirty }} <br />
      valid : {{ employeeForm.get("emailGroup").get("email").valid }} <br />
      FullName Value : {{ employeeForm.get("emailGroup").get("email").value }}
    </td>
  </tr>
</table>
